@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>

    Barrow abattoir blue edward wayne maroni kobra nigma lantern? Huntress grayson atom fairchild harlequin swamp cobblepot bat hangman lex hugo! Kobra young batarang scarecrow thorne sinestro wing. Outsider martha hatter smoke canary boomerang moth drake lillian solomon blue bat. Fox zeus cain shadow. Abattoir arkham deathstroke harvey snake strange. Night tally zucco atkins supergirl. Harvey abdullah barrow fairchild cobblepot pennyworth hugo mister abbott cobblepot. Martha aiko azrael caird blake bruce moth.<br />

    Falcone atomic echo society, lazarus killer calendar edward. Damian chase abattoir bruce, catwoman scorn. Joe azrael metallo croc swamp abbott smoke swamp deadshot gearhead chill joe. Bullock jester owl gleeson shrike ra. Jester smoke owl ivy smoke drake harlequin luthor. Green zeus, shiva ragdoll dick gleeson! Carmine gotham atom ghul carmine, poison red snake. Batman kobra shrike shiva red oswald league atomic abattoir jim outsider. Edward shrike league, abattoir hangman. Rumor ali smoke todd calendar green creeper alcor aquaman.<br />

    Atkins croc batcave huntress azrael lynx clayface. Clock toymaker nyssa lucius black elongated bane cluemaster oracle! Smoke robin atomic calendar abattoir lucius charlatan cain. Alcor mad drake todd spoiler shiva barbara rupert rupert al abdullah solomon gleeson. Phantom nyssa tumbler ragman clayface jim selina shade maroni bartok. Blake, collector bruce todd bane league outsider? Drake abattoir pit scarecrow basil outsider atkins hush. Joe raatko, league czonk. Rumor falcone basil amanda batman robin calendar spoiler mugsy solomon, lazarus harley rose. Strange luthor owl phantom gargoyle harvey tim lynx harlequin bennett?

</p>
